
UniTraj/unitraj/tmp
UniTraj/unitraj/ckpt
UniTraj/unitraj/lightning_logs
UniTraj/unitraj/outputs
UniTraj/unitraj/data_samples
UniTraj/unitraj/data_samples/nuscenes
UniTraj/unitraj/ckpt
UniTraj/unitraj/lightning_logs
UniTraj/unitraj/outputs
UniTraj/unitraj/tmp
UniTraj/unitraj/picture
UniTraj/unitraj/.git
UniTraj/unitraj_ckpt
UniTraj/unitraj_logs
UniTraj/dataset_split
UniTraj/cache
/home/zzs/UniTraj/unitraj/tmp

UniTraj/UniTraj.egg-info

wandb/
cuda_12.4.0_550.54.14_linux.run/
cudnn-local-repo-ubuntu2204-9.0.0_1.0-1_amd64.deb/
unitraj_ckpt/
unitraj_logs/
lightning_logs/
outputs/
cache/
picture/



.DS_Store